
.login:hover {
    color:#0d6efd !important;
}

.register:hover {
    color:#FFF !important;
    background-color: #0d6efd !important;
    border-width: 1.5px !important;
    border-color: #FFF !important;
}

.login, .register {
    width: 90px !important;
    padding: 3.5px !important;
}

